<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MysoundDemon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18F836771CF45C3A000FC2C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F836901CF45C3B000FC2C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F8369B1CF45C3B000FC2C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
